/* --------------------------------------------------------------------------- 
 * helper mixins
 * ------------------------------------------------------------------------- */
@mixin clearfix {
    zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

@mixin border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin box-shadow($h-offset, $v-offset, $blur, $colour, $inset: null) {
    @if $inset == "inset" {
        -webkit-box-shadow: $h-offset $v-offset $blur $colour inset;
        -moz-box-shadow: $h-offset $v-offset $blur $colour inset;
        box-shadow: $h-offset $v-offset $blur $colour inset;
    }
    @else {
        -webkit-box-shadow: $h-offset $v-offset $blur $colour;
        -moz-box-shadow: $h-offset $v-offset $blur $colour; 
        box-shadow: $h-offset $v-offset $blur $colour;
    }
}

@mixin border-radius($top-left-h, $top-right-h: null, $bottom-right-h: null, 
    $bottom-left-h: null, $top-left-v: null, $top-right-v: null, 
    $bottom-right-v: null, $bottom-left-v: null, $vertical: null) {
    @if $vertical == "true" {
        -moz-border-radius: $top-left-h $top-right-h $bottom-right-h $bottom-left-h             / $top-left-v $top-right-v $bottom-right-v $bottom-left-v;
        border-radius: $top-left-h $top-right-h $bottom-right-h $bottom-left-h                  / $top-left-v $top-right-v $bottom-right-v $bottom-left-v;
    }
    @else {
        -moz-border-radius: $top-left-h $top-right-h $bottom-right-h $bottom-left-h;
        border-radius: $top-left-h $top-right-h $bottom-right-h $bottom-left-h; 
    }
}

@mixin placeholder($colour) {
    *::-webkit-input-placeholder { color: $colour; }
    *:-moz-placeholder { color: $colour; }
    *::-moz-placeholder { color: $colour; }
    *:-ms-input-placeholder { color: $colour; }
}

/* --------------------------------------------------------------------------- 
 * Typography
 * ------------------------------------------------------------------------- */
$font-stack:        'Modern No. 20', Georgia, serif;

/* --------------------------------------------------------------------------- 
 * Colours
 * ------------------------------------------------------------------------- */
// background
$black:             #000000;
$background-grey:   #b5c4c9;
$white:             #ffffff;
$jade:              #2ab872;
$navy:              #001e30;
$tan:               #f2cd7c;

// shades
$background-grey-shade: #657479;
$jade-shade:            #0a9852;
$tan-shade:             #c29d4c;

// tints
$jade-tint:         #5ae8a2;
$tan-tint:          #ffdb8a;
$tan-tint-tint:     #ffffbe;

// prices and delete link highlight
$red:               #fa7978;
$red-tint:          #ff9d9e;
$red-tint-tint:     #ffbdbe;

/* --------------------------------------------------------------------------- 
 * error messages
 * ------------------------------------------------------------------------- */
b {
    background-color: $red;
    color: $background-grey;
}

/* --------------------------------------------------------------------------- 
 * Common CSS
 * ------------------------------------------------------------------------- */
* {
    font-family: $font-stack;
}

html, body {
    height: 100%;
    background-color: $background-grey;
    color: $background-grey;
}

.fixed {
    position: fixed;
}

#super_container {
    min-height: 100%;
    height: 100%;
}

#container {
    padding: 10px;
    padding-bottom: 35px;
    overflow: hidden;
    background-color: $navy;
    min-height: 125px;
}

#footer {
    font-family: Menlo, "Courier", sans-serif;
    font-size: 8px;
    
    color: $navy;
    background-color: $background-grey;
    bottom: 0;
    text-align: right;
    padding: 10px;
}

#menu_top {
    padding: 10px;
    background-color: $background-grey;
    border-bottom: 1px solid $navy;
    height: 40px;
}

#item-form {
    input {
        font-size: 1em;
        padding: 5px;
    }
    
    input[type="text"] {
        width: 40%;    
        background-color: $background-grey;
    }

    #submit {
        margin: 30px;
    }
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.light_button {
    color: $navy;
    background-image: -webkit-gradient(linear, left top, left bottom,
                                        from($white), to($background-grey));
}

.light_button:hover {
    color: $black;
    background-image: -webkit-gradient(linear, left top, left bottom,
                                        from($white), to($white));
}

.dark_button {
    color: $navy;
    background-color: $background-grey;
}

.dark_button:hover {
    color: $black;
    background-color: $white;
}

.button {
    @include border-box;
    cursor: pointer;
     
    text-align: center;
     
    border-radius: 3px;
    border: 1px solid $navy;
}

.button:hover {
    border: 1px solid $background-grey;
}

/* --------------------------------------------------------------------------- 
 * Headings
 * ------------------------------------------------------------------------- */
h1 {
    font-size: 2.45em;
    line-height: 1.5em;
}

#site_name {
    line-height: 1.1;
    color: $navy;
    font-weight: normal;
    text-transform: lowercase;
    font-family: Georgia;
    font-size: 2em;
}

/* --------------------------------------------------------------------------- 
 * Log in / sign up
 * ------------------------------------------------------------------------- */
.log_in, .sign_up {
    padding-top: 70px;
    padding-bottom: 35px;
    top: 15%;
}

.sign_up, #edit_item_form, #new_item_form, 
#new_wishlist_form, #edit_wishlist_form 
{
    h2 
    {
        font-size: 2em; 
    }
}

.no_margin_left {
    .grid_4 {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 0;
        padding-left: 0;
    }

    .field:last-child {
        margin-bottom: 0;
    }
}

.field {
    margin-top: 5px;
    
    input {
        font-size: 28px;
        width: 100%;
    }
    
    input[type="text"], input[type="password"] {
        background-color: $background-grey;
    }

    @include placeholder($background-grey-shade);
}

.log_in .field input, .sign_up .field input {
    font-size: 28px;
    margin-top: 14px; 
    width: 100%;
}

.field:first-child {
    margin-top: 21px; 
}

.field:last-child {
    margin-bottom: 28px;
}

.error-info {
    display: inline;
    color: $red; 
    font-size: 0.9em;
    margin-left: 20px;
}

// form button
#log_in_button, #sign_up_button {
    text-shadow: none;
    letter-spacing: 1px;
    text-align: center;
    @include border-box;
}

// top menu
#logout_button, #login_button, #wishlist_button {
    font-size: 2.4em;
}

/* --------------------------------------------------------------------------- 
 * Wishlist
 * ------------------------------------------------------------------------- */

.wishlist_name
{
    display: inline;
}

.item_count
{
    display: inline;
}

h2#no_wishlists {
   font-size: 2em; 
   margin-top: 50px;
   text-align: center;
}

#no_items {
    font-size: 1.2em;
    position: relative;
    padding-top: 35px;
}

.sign_up {
    background-color: $navy;
}

.signup_link, .login_link, .back_link {
    font-size: 1.5em;
    background-color: $tan;
    color: $navy;
    padding: 30px 0;
    text-align: center;
    
    a {
        background-image: -webkit-gradient(linear, left top, left bottom,
                                    from($tan-tint-tint), to($tan-tint));
        border: 1px solid $navy;
        text-shadow: 0px 1px 0px $tan;
                
        color: $black;
        @include border-radius(3px);
        padding: 10px;
        margin-left: 10px;

        &:hover {
            background-image: -webkit-gradient(linear, left top, left bottom,
                                        from($white), to($tan-tint-tint));
            text-shadow: none;
        }
    }
}

.back_link {
    font-size: 1em;
    padding: 10px;

    a {
        padding: 5px;
    }
}

#create_first_wishlist {
    margin-top: 70px;
    margin-bottom: 70px;
    
    .button
    {
        font-size: 4.5em;
        margin: auto; 
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;

        background-image: -webkit-gradient(linear, left top, left bottom,
                                    from($white), to($background-grey));

        text-shadow: 1px 2px 2px $background-grey;

        &:hover
        {
            background-image: -webkit-gradient(linear, left top, left bottom,
                                            from($background-grey), 
                                            to($white));

            color: $navy;
            text-shadow: 1px 1px 2px $white;
        }
    }
}

.wishlist_header {
    padding-left: 5px;
    margin-top: 20px;
}

#list_title {
    font-size: 36px;
    text-align: center;
    color: $background-grey;
    border-bottom: 1px solid $background-grey;
}

#total_price {
    font-size: 1.75em;
    line-height: 1.95;
    font-weight: bold;
    
    vertical-align: center;
    text-align: left;
    border-bottom: 1px solid $red;

    @include border-box;

    .total_price_label {
        display: inline;
    }

    .total_price_value {
        display: inline;
        float: right;
        padding-right: 10px;
        padding-left: 10px;
        
        color: $navy;
        background-color: $red;
    }
}

.item_name {
    margin-right: -14px;
    text-decoration: none;
    display: inline;
    word-wrap: break-word;
}

.item_price {
    letter-spacing: 1px;
    display: inline;
}

.item_price .price {
    display: inline;
    float: right;
}

.item_price .dollar_sign {
    display: inline;
}

.dollar_sign {
    padding-left: 21px; 
}

#add_item_button, #create_another_wishlist {
    z-index: 2;
    a {
        font-size: 3em;
        .button {
            line-height: 0.45;
            padding: 40px;
        }
    }
    
    &:hover {
        h1 {
            color: $black;
        }
    }
    
    background-color: $navy;
    padding: 5px;
    @include border-radius(5px);
}

.minor_header {
    padding-top: 35px;
    display: inline-block;
    
    font-size: 1.5em;
    text-align: center;
}

.item_short > *, .wishlist_short > * {
    display: table-cell;
    vertical-align: middle;
}

.item_short, .wishlist_short {
    position: relative;
    display: table;

    line-height: 100%;
    
    left: 14px;
    margin-bottom: 7px;
    padding-top: 3px;
    padding-bottom: 4px;
    
    font-size: 24px;
    color: $navy;
    background-color: $background-grey;
    border: 1px solid $background-grey;

    a {
        color: $navy;
    }

    &:hover {
        background-color: $white;
        border: 1px solid $white;
        
        a {
            color: $black;
        }
    }
}

.highlight_first_child {
    li {
        border: 1px solid $background-grey;
    }
}

li.wishlist_empty {
    border: 1px solid $background-grey;
    color: $background-grey;
    background-color: $navy;
    
    a {
        color: $background-grey;
    }
    
    &:hover {
        background-color: $black;
        color: $white;

        a {
            color: $white;
        }
    }
}

.delete_link, .edit_link {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

.delete_link {
    background-image: -webkit-gradient(linear, left top, left bottom,
                                from($red-tint-tint), to($red));
    border: 1px solid $navy;
    text-shadow: 0px 1px 0px $red;
            
    color: $black;
    @include border-radius(3px);

    &:hover {
        background-image: -webkit-gradient(linear, left top, left bottom,
                                    from($white), to($red-tint-tint));
        text-shadow: none;
    }
}

.edit_link {
    background-image: -webkit-gradient(linear, left top, left bottom,
                                from($tan-tint-tint), to($tan-tint));
    border: 1px solid $navy;
    text-shadow: 0px 1px 0px $tan;
            
    color: $black;
    @include border-radius(3px);

    &:hover {
        background-image: -webkit-gradient(linear, left top, left bottom,
                                    from($white), to($tan-tint-tint));
        text-shadow: none;
    }
}

/* --------------------------------------------------------------------------- 
 * New and Edit item and wishlist forms
 * ------------------------------------------------------------------------- */
#new_item_form, #edit_item_form, #new_wishlist_form, #edit_wishlist_form 
{
    padding-top: 70px;
    padding-bottom: 35px;

    h2 {
        color: $background-grey;
    }
}

.field_label 
{
    display: inline;
    float: left;

    width: 133px;
    margin-right: 28px;

    color: $background-grey;
}

.submit-button
{
    @include border-box;
    cursor: pointer;
     
    font-size: 2em;
    text-align: center;
    
    border-radius: 3px;
    border: 1px solid $background-grey;

    &:hover
    {
        border: 1px solid $navy;
    }
}

#add_first_item
{
    margin-left: -40px;
    margin-top: -20px;

    font-size: 1.25em;
    color: $tan; 
}

.help_message
{
    @include border-box;
    font-size: 1.15em;
    padding: 10px;
    margin-right: 260px;
    
    color: $white;
    margin-bottom: 10px;

    letter-spacing: 1px;
}

/* --------------------------------------------------------------------------- 
 * < 1200px
 * ------------------------------------------------------------------------- */
@media (max-width: 1200px)
{
    #container {
    }
}

/* --------------------------------------------------------------------------- 
 * iPad Landscape (all generations)
 * ------------------------------------------------------------------------- */
@media (max-width: 1024px)
{
    #container {
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
{
    .error-info {
        font-size: 0.8em;
    }
    
    #item-form input[type="text"] {
        width: 30%;
    }
}

/* --------------------------------------------------------------------------- 
 * iPad Portrait (all generations)
 * ------------------------------------------------------------------------- */
@media (max-width: 768px)
{
    #container {
        padding-bottom: 28px;
        min-height: 125px;
    }

    #create_first_wishlist{
        a {
            font-size: 80%;
            .button {
                width: 72%;
                font-size: 3.6em;
            }
        }
    }
    
    body    { min-width: 768px; }
    
    #menu_top {
        padding-left: 0;
        padding-right: 0;

        h1 {
            font-size: 1.6em;
        }

        .button {
            font-size: 1.92em;
        }
    }

    .log_in, .sign_up {
        padding-top: 55.066666667px;
        padding-bottom: 27.533333333px;
    }

    .sign_up, #edit_item_form, #new_item_form, 
    #edit_wishlist_form, #new_wishlist_form {
        padding-top: 56px;
        padding-bottom: 28px;

        h2 {
            font-size: 1.6em;
        }
    }

    .login_link, .signup_link {
        font-size: 1.3em;
    }

    .back_link {
        font-size: 0.8em;
    }

    #submit-update-wishlist, #submit-create-wishlist {
        font-size: 22.4px;
    }

    #list_title {
        font-size: 28.8px;
        line-height: 1.2em;
    }

    #total_price {
        font-size: 1.4em;
        line-height: 1.56em;
    }

    .field {
        margin-top: 0;
    }

    .help_message {
        margin-right: 0;
    }

    #wishlist_index {
        .grid_2 {
            // change grid_2 gap to grid_1
            width: 59px;
        }
        
        #create_another_wishlist {
            // change grid_2 gap back to grid_2
            width: 118px;
        }
    }

    #add_item_button, #create_another_wishlist {
        a {
            font-size: 2.4em;

            h1 {
                font-size: 1.96em;
            }
            .button {
                padding: 32px; 
                line-height: 0.65;
            }
        }
    }
    
    .edit_link, .delete_link {
        font-size: 12.8px;
    }

    .dollar_sign {
        padding-left: 16.8px;
    }

    .price {
        font-size: 80%;
    }

    #footer {
        width: 728px;
    }

    .container_12 { 
        width: 768px;
        .grid_12 { width: 752px; } 
        .grid_10 { width: 624px; }
        .grid_9 { width: 556px; } 
        .grid_8 { width: 492px; }
        .grid_6 { width: 364px; }
        .grid_5 { width: 304px; }
        .grid_4 { width: 236px; }
        .grid_3 { width: 172px; }
        .grid_2 { width: 118px; }
        .grid_1 { width:  59px; }

        .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
        .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
            margin-left: 7.86666667px; 
            margin-right: 7.86666667px;
        }

        .prefix_2 { padding-left: 125.86666667px; }
        .prefix_3 { padding-left: 188.8px; }
        .prefix_4 { padding-left: 251.733333333px; }
        .prefix_6 { padding-left: 364px; }
        .prefix_7 { padding-left: 364px; }

        .suffix_2 { padding-right: 125.86666667px; }
        .suffix_3 { padding-right: 188.8px; }
        .suffix_4 { padding-right: 251.73333333px; }
    }

    #super_container {
        .container_12 {
            .no_items {
                padding-left: 0;
                width: 304px;
                text-align: center;
            }

            #add_first_item {
                font-size: 1em;
                margin-top: -16px;
            }
        }
    }
    
    .wishlist_header {
        .grid_6 { width: 304px; } 
    }

    .item_short, .wishlist_short {
        font-size: 19.2px;
    }

    .item_short {
        .grid_5 { width: 172px; }
    }

    .minor_header {
        font-size: 1.2em;
        .grid_6 { width: 172px; }
        .grid_3 { width: 304px; }
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
{
    #container {
        padding-bottom: 28px;
        min-height: 125px;
    }

    #create_first_wishlist{
        a {
            font-size: 80%;
            .button {
                width: 72%;
                font-size: 3.6em;
            }
        }
    }
    
    body    { min-width: 768px; }
    
    #menu_top {
        padding-left: 0;
        padding-right: 0;

        h1 {
            font-size: 1.6em;
        }

        .button {
            font-size: 1.92em;
        }
    }

    .log_in, .sign_up {
        padding-top: 55.066666667px;
        padding-bottom: 27.533333333px;
    }

    .sign_up, #edit_item_form, #new_item_form, 
    #edit_wishlist_form, #new_wishlist_form {
        padding-top: 56px;
        padding-bottom: 28px;

        h2 {
            font-size: 1.6em;
        }
    }

    .login_link, .signup_link {
        font-size: 1.3em;
    }

    .back_link {
        font-size: 0.8em;
    }

    #submit-update-wishlist, #submit-create-wishlist {
        font-size: 22.4px;
    }

    #list_title {
        font-size: 28.8px;
        line-height: 1.2em;
    }

    #total_price {
        font-size: 1.4em;
        line-height: 1.56em;
    }

    .field {
        margin-top: 0;
    }

    .help_message {
        margin-right: 0;
    }

    #wishlist_index {
        .grid_2 {
            // change grid_2 gap to grid_1
            width: 59px;
        }
        
        #create_another_wishlist {
            // change grid_2 gap back to grid_2
            width: 118px;
        }
    }

    #add_item_button, #create_another_wishlist {
        a {
            font-size: 2.4em;

            h1 {
                font-size: 1.96em;
            }
            .button {
                padding: 32px; 
                line-height: 0.65;
            }
        }
    }
    
    .edit_link, .delete_link {
        font-size: 12.8px;
    }

    .dollar_sign {
        padding-left: 16.8px;
    }

    .price {
        font-size: 80%;
    }

    #footer {
        width: 728px;
    }

    .container_12 { 
        width: 768px;
        .grid_12 { width: 752px; } 
        .grid_10 { width: 624px; }
        .grid_9 { width: 556px; } 
        .grid_8 { width: 492px; }
        .grid_6 { width: 364px; }
        .grid_5 { width: 304px; }
        .grid_4 { width: 236px; }
        .grid_3 { width: 172px; }
        .grid_2 { width: 118px; }
        .grid_1 { width:  59px; }

        .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
        .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
            margin-left: 7.86666667px; 
            margin-right: 7.86666667px;
        }

        .prefix_2 { padding-left: 125.86666667px; }
        .prefix_3 { padding-left: 188.8px; }
        .prefix_4 { padding-left: 251.733333333px; }
        .prefix_6 { padding-left: 364px; }
        .prefix_7 { padding-left: 364px; }

        .suffix_2 { padding-right: 125.86666667px; }
        .suffix_3 { padding-right: 188.8px; }
        .suffix_4 { padding-right: 251.73333333px; }
    }

    #super_container {
        .container_12 {
            .no_items {
                padding-left: 0;
                width: 304px;
                text-align: center;
            }

            #add_first_item {
                font-size: 1em;
                margin-top: -16px;
            }
        }
    }
    
    .wishlist_header {
        .grid_6 { width: 304px; } 
    }

    .item_short, .wishlist_short {
        font-size: 19.2px;
    }

    .item_short {
        .grid_5 { width: 172px; }
    }

    .minor_header {
        font-size: 1.2em;
        .grid_6 { width: 172px; }
        .grid_3 { width: 304px; }
    }
    
    .error-info {
        font-size: 0.7em;
    }

    #item-form input[type="text"] {
        width: 30%;
    }
}

/* --------------------------------------------------------------------------- 
 * Smartphones
 * ------------------------------------------------------------------------- */
@media (max-width: 600px)
{
    #container {
        float: none;
        width: inherit;
    }
}
